<p>Ceci est l'index.</p>

<form action="/mode_solo" method="get">
	<button type="submit">MODE SOLO</button>
</form>

<form action="/mode_duo" method="get">
	<button type="submit">MODE DUO</button>
</form>