<form action="/game" method="post"> <!-- mise en place du formulaire pour effectuer l'action (grâce à la méthode post) d'envoi du mot rentré -->
	<input type="text" name="word" placeholder="mot"> <!-- l'entrée du formulaire utilisé avec un input de type text avec le paramètre "word" précisé dans game.rb -->
	<button type="submit">ENVOIES LE MOT</button> <!-- le bouton créé ici avec un submit envoie la donnée rentré dans le formulaire -->
</form>